# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Firebase service account
backend/serviceAccountKey.json
backend/*firebase-adminsdk*.json

# Local server artifacts
*.log

# Build artifacts
node_modules/
web/dist/

# Environment
*.env

# VS Code
.vscode/
